h1{
    color: blue;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}
.nav-items > ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}
.nav-items > ul > li {
    padding: 10px;
}
.logo{
    height: 100px;
    width: 100px;
}
.card{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.card img{
    width: 100%;
    height: 150px;
}
.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}